<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Github Viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <script>
        var app = angular.module('app',['ui.router']);
        app.controller('MainCtrl',function($http) {
            var gv=this;
            gv.fetchData = function(user) {
                
                $http.get('https://api.github.com/users/' + user.name).then(function(res){
                    gv.image=res.data.avatar_url;
                    gv.name = res.data.name;
                    gv.id = res.data.id;
                    gv.login = res.data.login;
                    gv.image=res.data.avatar_url;
                    gv.id=res.data.id;
                    gv.repos=res.data.public_repos;
                    gv.gists=res.data.public_gists;
                })
                $http.get('https://api.github.com/users/' + user.name+'/repos').then(function(res1){
                    gv.repositories=res1;
                })
                $http.orderByMe=function(x){
                    $http.myOrderBy=x;
                }
                
            }
            
        })
        app.config(['$stateProvider','$urlRouterProvider', function($stateProvider,$urlRouterProvider) {
                
        $urlRouterProvider.otherwise('/index.html');        
        $stateProvider
            .state('details', {
                            url: "/details",
                            templateUrl: "details.html"
                        })
            .state('repos', {
                            url: "/repos",
                            templateUrl: "repos.html"
                        })
        }]);
        app.config(["$locationProvider", function($locationProvider) {
                $locationProvider.html5Mode(true);
            }]);
    </script>

</head>

<body ng-controller="MainCtrl as gv">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="size: 100px"></nav>
    <div class="container-fluid">
        <div id="main">
            <div style="padding: 5px; font-size:50px; color: #b3b3b3;">
                Github Viewer
            </div>
            <br>
            <div class="col-lg-6 margin-center">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="user.name" placeholder="Enter Login Name">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary" ng-click="gv.fetchData(user)">Go!!</button>
                    </div>
                </div>
            </div>
              <br>              
            <div class="table-responsive-sm" style="font-size: 20px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Login Name</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Repository</th>
                        </tr>
                    </thead>
                    <tbody><tr>
                        <td><input type="text" class="form-control" value="{{gv.id}}"></td>
                        <td><input type="text" class="form-control" value="{{gv.login}}"></td>
                        <td><input type="text" class="form-control" value="{{gv.name}}"></td>
                        <td><button class="btn btn-secondary form-control" ui-sref="details">Details</button></td>
                        <td><button class="btn btn-secondary form-control" ui-sref="repos">Repositories</button></td></tr>
                    </tbody>
                </table>
                <div ui-view></div>
            </div>
        </div>
    </div>
</body>
</html>